


#enternumber {
    display: none;
}

#entercode {
    display: none;
}

#enternumber.show {
    display: block;
}

#entercode.show {
    display: block;
}


#videoconference {
    display: none;
}

#videoconference.show {
    display: block;
}

#publisher {
    border-radius: 100px 0px 100px 100px;
    border-style: solid;
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 180px;
    height: 180px;  
    margin: 20px;
}

#subscribers {
    display: block;
    width:max-conten 100%t;
}

.video {

}

div.OT_Subscriber {
    display: inline-block;
    width: 320px;
    height: 180px;
    border-radius: 20px;
    overflow: hidden;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    margin: 10px;
}